.App {
  display: flex;
  justify-content: center;
}
.home{
  height:100vh;
  aspect-ratio : 1/1;
  background-size:cover;
  display: flex;
  flex-direction: column-reverse;
}
.my-car{
  width: 33%;
  aspect-ratio : 1/2;
  /* position: fixed; */
  background-size:cover;
  /* bottom: 0px; */
}
.event-arrow-div{
  display: flex;
  justify-content: center;
}
.event-arrow-item{
  width: 10%;
  aspect-ratio : 1/1;
}
.event-arrow-item img{
  width: 100%;
}
@media (max-width: 575.98px) {

  .home{
    width: 100%;
    background-size:cover
  }
}