.App {
  display: flex;
  justify-content: center;
}
.home{
  height:100vh;
  aspect-ratio : 1/1;
  background-size:cover;
  display: flex;
  flex-direction: column-reverse;
}
.my-car{
  width: 33%;
  aspect-ratio : 1/2;
  background-size:cover;
}
.car{
  width: 33%;
  aspect-ratio : 1/2;
  background-size:cover;
  display: inline-block;
  position: absolute;
}
.event-arrow-div{
  display: flex;
  justify-content: center;
}
.event-arrow-item{
  width: 10%;
  aspect-ratio : 1/1;
  z-index: 2;
}
.event-arrow-item img{
  width: 100%;
}
.racing-div{
  position: fixed;
  height: 100vh;
  width: 100%;
}
@media (max-width: 575.98px) {

  .home{
    width: 100%;
    background-size:cover
  }
}